# Part 1 - Introduction to Notebooks and Python
> A series of commands to introduce beginners to working with Python in Jupyter Notebooks.

## What is Python?

- It is programming language that is dynamic, interpreted and easy to learn
- Created by Guido van Rossum in 1991
- Widely used in science and engineering
- Lots of libraries

## Jupyter notebooks

Are extremely powerful. The notebook is made out of cells which generally contain either code or markdown. In the notebooks we can combine code and figures with markdown explanations, as we will see throughout the course, thus making them pretty handy. In fact, this whole bootcamp is made out of notebooks.   

The first thing to know when working with notebooks is that there are two modes: command and edit. We enter command mode with `esc` and edit mode with `Enter`. When we open a notebook, we start in command mode.

In **edit mode** we can edit the source content of the cells. We can also enter edit mode by double-clicking on any cell.

In **command mode** we hover over the notebook cells and we can take actions regarding the notebook structure:
- Move from cell to cell with the up/down keys.
- Add a cell above/below the current one with `a`/`b`
- Copy, cut and paste cell with `c`, `x` and `v`.
- Change cell type to code `y` or markdown `m`.
- Delete with `d-d` and undo with `z`.

Regardless of the mode, we can always run the cell with `Ctrl-Enter`, run and select the cell below with `Shift-Enter` and run and create a cell below with `Alt-Enter`.

Select this cell and try hitting `Enter` to see the source of this text. In edit mode we can write and format the text. Changing to command mode with `esc` will prevent us from editing but, now, the markdown source is visible. In order to see the text as it was before we need to execute this cell: try with `Ctrl-Enter`.

Each cell is named by the word `In [<n>]` and they are numbered. When we run the cell using any of the mentioned shortcuts or by clicking above on Cell -> Run, the result of the cell is showed in the field `Out [<n>]` also numbered with the same number we have before.

**Exercise**: Experiment with the Jupyter shortcuts. For instance, in command mode, create a cell below this one, switch to edit mode and type something. Then, execute it with `Shift-Enter`. Uh-oh, it's a code cell! Change the cell to markdown and it'll be fine.

## Does it work?

Make mathematical operations

In [1]:
2 + 2

4

In [3]:
_

4

In [4]:
_3

4

Print messages

In [ ]:
print('Hello, world!')

Import a library

In [ ]:
import numpy

## Define Variables

In [5]:
a_integer = 5

In [6]:
a_float = 1.41421356237

In [35]:
a_integer + a_float

8.1417

In [36]:
a_integer = a_integer + a_integer

In [37]:
a_integer

10

In [8]:
a_number = a_integer + a_float

In [9]:
print(a_number)

6.41421356237

In [10]:
a_string = 'How you doing, world?'

In [11]:
print(a_string)

How you doing, world?

In [12]:
a_integer + a_string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
print(a_integer, a_string)

5 How you doing, world?

We can convert numbers to strings using `string`

In [14]:
str(a_integer) + a_string

'5How you doing, world?'

`print` function allows us to print variables using different formats

In [15]:
print("My integer {}".format(a_integer))

My integer 5

In [51]:
print("My integer {:03d}".format(a_integer))

My integer 010

In [53]:
print("My float {:.6f}".format(a_float))

My float 3.141700

In [77]:
print("My float is {} and my integer is {}".format(a_float, a_integer))

My float is 3.1417 and my integer is 10

In [16]:
a_float

1.41421356237

We can redefine variables

In [17]:
a_float = 3.1417

In [18]:
print(a_float)

3.1417

If we did not declare a variable, Python will complain

In [1]:
who

Interactive namespace is empty.

<div class="alert alert-block alert-info"><b>Jupyer Tip: </b> in a same cell we can write code using several lines. If the last one gives a result, then this one is printed</div>

a = 2
b = 3
a,b

We can concatenate multiple definitions

In [32]:
x, y = 1, 2
x, y

(1, 2)

This is useful to swap values between variables without using additional variables

In [33]:
x, y = y, x
x, y

(2, 1)

In [34]:
a = 1
b = 2
c = a
a = b
b = c
a, b

(2, 1)

In [19]:
# A comment

In [20]:
"""This is a multi-
line comment"""

'This is a multi-\nline comment'

Comments are handy to *temporarily* turn some lines on or off and to document Python files. In Jupyter notebooks using markdown cells gives more control.

**Exercise**: being a=2, b=1 two different values, swap their values without using the tip and without using any extra temporal variable

In [39]:
a = 10
b = 20
a = a+b
b = a-b
a = a-b
a, b

(20, 10)

## Mathematical Operations

The common mathematical operators are `/`, `//`, `*`, `**`, `+`, `-`

In [21]:
9/3

3.0

In [75]:
1/0

ZeroDivisionError: division by zero

In [76]:
1.0 / 0.0

ZeroDivisionError: float division by zero

In [22]:
9%3

0

In [23]:
9/4.0

2.25

In [40]:
9//4

2

In [24]:
9%4 # 9 - 2*4

1

In [25]:
3*5

15

In [26]:
2**6

64

In [27]:
64**0.5

8.0

**Exercise:** given two natural numbers `a` and `b` with `b>0`, print the integer division `d` and the reminder `r` of `a` divided by `b`.

$$d \cdot b + r = a$$

In [44]:
a = 32
b = 6
d = a // b
r = a % b
print(d, r)

5 2

## Logical Operations

The comparison operators are `==`, `!=`,`<`,`<=`, `>`, `>=`. They return boolean variables

In [45]:
a = True
b = False

In [46]:
2 == 2.0

True

In [47]:
2 != 2.001

True

In [48]:
x, y = 1, 2
x, y

(1, 2)

In [55]:
print(x < y)
print(x <= y)
print(x > y)
print(x >= y)
print(x < y and x > y)
print(x < y & x > y)

True
True
False
False
False
False

In [61]:
x, y = 1, 2
a, b = 5, 6
print(x < y and a > b)
print(x < y & x > y)
print(x < y or a > b)
print(x < y | x > y)

False
False
True
True

In [ ]:
if 6 > 4:
    print('Six is greater than four!')

<div class="alert alert-block alert-danger"><b>Important!</b> in Python blocks are delimited by indentation, always using four spaces. When we put the colon at the end of the first line of the conditional, anything that follows with one higher indentation level is considered within the conditional. As soon as we write the first line with a lower indentation level, we have closed the conditional. If we do not follow this to the letter Python will give us errors; it is a way to force the code to be readable.

</div>

In [73]:
if 6 < 4:
    print("Six is less than four")
print("6 still being less than 0")  # <-- ¡Wrong!

6 still being less than 0

In [74]:
if 6 < 4:
    print("Six is less than four")
      print("6 still being less than 0")  # <-- ¡Wrong!

IndentationError: unexpected indent (<ipython-input-74-b0b1301f9d6a>, line 3)

In [ ]:
if 6 > 10:
    print('Six is greater than ten!')
else:
    print('Six is not greater than ten!')

In [ ]:
a = 20
if a%2 == 0:
    print('This number is even!')   
elif a%3 == 0:
    print('This number is divisable by three!')   
elif a%5 == 0:
    print('This number is divisable by five!')
else:
    print(str(a) + ' is not divisable by 2, 3 or 5!')

In [ ]:
b = 0
while b < 5:
    print(b) 
    b = b + 1

In [ ]:
b

In [ ]:
while True:
    pass

In [ ]:
a = 25
b = 1
c = 2
while b != 0:
    b = a%c
    if b == 0:
        print(str(a) + ' is divisable by ' + str(c))
    else:
        c += 1

**Exercise**: Can you refactor this code so that you can test if a number is prime (so only it and 1 divides it)

In [ ]:
a = 28
b = 1
c = 2
while b != 0:
    b = a%c
    if a == c:
        print(str(a) + ' is a prime number.')
    elif b == 0:
        print(str(a) + ' is divisable by ' + str(c))
    else:
        c += 1

**Exercise**: write a program that, given two intervals, computes the interval correspondign to their intersection, or tells that it is empty.

*Input*: four integer numbers $a_1$, $b_1$, $a_2$, $b_2$ that represent intervals $[a_1, b_1]$ and $[a_2, b_2]$. Assume $a_1 \leq b_1$, $a_2 \leq b_2$.

*Output*: Print `[]` if their intersection is empty or $[x,y]$ if this is their non-empy intersection.

In [71]:
a_1, b_1 = 30, 40
a_2, b_2 = 10, 20
x = ''
y = ''
if a_1 <= a_2 and a_2 <= b_1:
    x = a_2
    if b_1 <= b_2:
        y = b_1
    else:
        y = b_2
    print(x,y)
elif a_1 >= a_2 and a_1 <= b_2:
    x = a_1
    if b_1 <= b_2:
        y = b_1
    else:
        y = b_2
    print(x,y)
else:
    print("[]")

[]