# 4 Pandas

When dealing with numeric matrices and vectors in Python, NumPy makes life a lot easier. However, those used to work with dedicated languages like [R](https://www.r-project.org/), doing data analysis directly with NumPy feels like a step back. Fortunately, some nice folks have written the Python Data Analysis Library (a.k.a. [Pandas](http://pandas.pydata.org/)). Pandas provides an R-like DataFrame, produces high quality plots with matplotlib, and integrates nicely with other libraries that expect NumPy arrays.

Pandas works with `Series` of data, that then are arranged in `DataFrame` objects. A dataframe is the object closest to an Excel spreadsheet that we will see throughout the course. Dataframes, though, given that they are integrated in Python and can be combined with so many different packages, are much more powerful than simple Excel spreadsheets. The data in the series can be either qualitative or quantitative data and creating a series is as easy as creating a NumPy array from a one-dimensional list.

In [1]:
import numpy as np
import pandas as pd
print('Pandas:', pd.__version__)

Pandas: 1.1.5

In [2]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

Notice that the series is indexed by default by integers. We can change this indexing by using a dictionary instead of a list to create the series.

In [4]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

On the other hand, dataframes can be built from two-dimensional arrays, with the ability of labelling columns and indexing the rows. **Every column in a dataframe is a series**.

In [5]:
# Sampling a 1000 rows 6 cols 2D array from the standard normal distribution and creating DataFrame
u = pd.DataFrame(np.random.randn(1000, 6),
                 index=np.arange(0, 3000, 3),
                 columns=['A', 'B', 'C', 'D', 'E', 'F'])

print(type(u))

u

<class 'pandas.core.frame.DataFrame'>

             A         B         C         D         E         F
0     1.529691 -0.538416 -0.244388  0.243894 -1.434319 -0.406120
3     1.129496  0.141477 -0.240872  0.365254 -1.635272 -0.947670
6     1.061280 -1.501800  2.063890  0.390767  0.410590 -1.533273
9     1.005475 -0.030160 -0.600576 -1.193379  0.154116  0.881702
12    0.224674  0.814185  1.080010 -0.326918 -0.806828  1.357435
...        ...       ...       ...       ...       ...       ...
2985 -0.756832 -0.154784 -1.314841  1.339179  1.188416 -0.788135
2988  2.006717  0.073238 -1.880424  0.183553  1.482888  0.000581
2991  0.157970  1.966254 -0.611997  0.331002 -0.584559 -0.048175
2994 -2.501087  1.129221 -0.282431 -0.557586  1.363579  1.360922
2997  0.554970  0.131605  0.384242 -0.801872 -0.044222 -1.430762

[1000 rows x 6 columns]

As you might have noticed, it is not the best to look at massive dataframes. There are some functions that allow us to have a nicer look at parts of the dataframe to have an idea of "how things are going".

In [6]:
u.head()

           A         B         C         D         E         F
0   1.529691 -0.538416 -0.244388  0.243894 -1.434319 -0.406120
3   1.129496  0.141477 -0.240872  0.365254 -1.635272 -0.947670
6   1.061280 -1.501800  2.063890  0.390767  0.410590 -1.533273
9   1.005475 -0.030160 -0.600576 -1.193379  0.154116  0.881702
12  0.224674  0.814185  1.080010 -0.326918 -0.806828  1.357435

In [7]:
u.tail()

             A         B         C         D         E         F
2985 -0.756832 -0.154784 -1.314841  1.339179  1.188416 -0.788135
2988  2.006717  0.073238 -1.880424  0.183553  1.482888  0.000581
2991  0.157970  1.966254 -0.611997  0.331002 -0.584559 -0.048175
2994 -2.501087  1.129221 -0.282431 -0.557586  1.363579  1.360922
2997  0.554970  0.131605  0.384242 -0.801872 -0.044222 -1.430762

In [8]:
u.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 2997
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       1000 non-null   float64
 1   B       1000 non-null   float64
 2   C       1000 non-null   float64
 3   D       1000 non-null   float64
 4   E       1000 non-null   float64
 5   F       1000 non-null   float64
dtypes: float64(6)
memory usage: 54.7 KB

In [9]:
u.describe()

                 A            B  ...            E            F
count  1000.000000  1000.000000  ...  1000.000000  1000.000000
mean     -0.026039     0.039695  ...     0.005928     0.025661
std       1.010233     1.021984  ...     0.981599     0.969133
min      -3.164641    -3.413782  ...    -3.175102    -2.891552
25%      -0.725722    -0.646261  ...    -0.643796    -0.637663
50%      -0.050568     0.046615  ...     0.012637     0.026007
75%       0.659858     0.696789  ...     0.664014     0.666779
max       3.346081     2.904290  ...     3.029467     3.835209

[8 rows x 6 columns]

### Indexing/Slicing in Pandas

The easiest way to access information in a Pandas dataframe, equivalent to the way used in NumPy, is using the `iloc` command. With `iloc` we can use the same indexing techniques that we saw with NumPy in the previous notebook.

In [10]:
# Slice-in rows index 125 to 132 (132 included!) from columns index 0, 2 and 5
u.iloc[125:132, [0, 2, 5]]

            A         C         F
375  0.725280  0.080836 -0.352246
378  1.389644 -0.739824 -0.745783
381 -0.059435 -0.057974 -1.683555
384 -0.970846 -0.952454  0.595984
387 -1.155227  0.431085 -0.239368
390 -0.726701 -0.279116  0.102658
393 -0.111332  1.695955  1.095941

We can choose specific columns according to their names using `loc` instead of `iloc`.

In [11]:
# Slice-in rows 375 to 393 (393 included!) from columns A, C and F
u.loc[375:393, ['A', 'C', 'F']]

            A         C         F
375  0.725280  0.080836 -0.352246
378  1.389644 -0.739824 -0.745783
381 -0.059435 -0.057974 -1.683555
384 -0.970846 -0.952454  0.595984
387 -1.155227  0.431085 -0.239368
390 -0.726701 -0.279116  0.102658
393 -0.111332  1.695955  1.095941

However, there are a few different ways of accessing the data in a Pandas dataframe, that typically have a more "direct" connection with the actual content fo the dataframe. Individual or sets of columns can also be accessed by their column names. Choosing one single column will give a Series, while two or more will produce a DataFrame

In [12]:
u['A'].head()

0     1.529691
3     1.129496
6     1.061280
9     1.005475
12    0.224674
Name: A, dtype: float64

In [13]:
u[['A', 'D']].head()

           A         D
0   1.529691  0.243894
3   1.129496  0.365254
6   1.061280  0.390767
9   1.005475 -1.193379
12  0.224674 -0.326918

Not only that, we can access a single column without the need of brackets []

In [14]:
u.A.head()

0     1.529691
3     1.129496
6     1.061280
9     1.005475
12    0.224674
Name: A, dtype: float64

Or, we can retrieve the elements that satisfy some condition

In [15]:
u[u.D > 2]

             A         B         C         D         E         F
21   -0.720298  1.038092  1.619139  2.018143 -0.056179  1.379509
120  -0.067738 -1.020308 -2.266636  2.206936 -0.590255  0.186909
162  -1.912364 -0.853718  1.500830  2.664510 -0.699474  0.944029
177  -1.594947  0.066061  0.238336  2.669839 -0.535638  1.210290
315   0.828884 -0.269063  0.353555  2.456021  0.598594  0.337546
483   0.809037 -0.960082  0.741255  2.262807  0.373416 -1.027757
552   2.461966 -0.044535 -0.875278  2.104515  1.480918  0.948490
714   1.527885 -0.983501  0.232200  2.230415  0.470912  1.496632
753  -0.297296 -0.284134 -0.172245  2.049252  0.705034 -0.412757
783   0.136426  0.279603 -0.635129  2.764491  1.914615 -0.599495
837   0.556277  0.453778 -1.827988  2.845533  0.166032  0.984749
1125 -1.071312 -0.306151  0.956511  2.248414 -0.424718 -0.421275
1128  0.475451  0.050170  0.307816  2.677477  1.114584 -0.191102
1152 -1.275743  1.373875 -0.603583  2.285871 -0.060467 -0.090333
1212 -1.211129 -1.702471 -0.373522  2.268466 -0.101312  0.951670
1245 -0.176042  2.192218  0.305224  2.320242  0.373636  0.280979
1293  1.516336 -1.126098 -0.850407  2.203467 -0.620521  0.234165
1620 -0.038073  1.132019 -1.215821  2.334836  1.209565  0.643095
1629  0.226794  0.145952  0.257228  2.659495 -1.386864  0.068876
1710 -0.974339 -1.055722 -2.688432  2.007804  0.162883 -1.320170
1767 -0.347207  0.919672 -0.739654  2.382137  0.892301 -0.661035
1773 -0.348344  0.874031 -1.249621  2.234059 -0.228303  2.389187
2127 -1.416430 -0.067060 -0.064512  2.631854  1.541957 -0.993226
2223  0.323426  0.143031  1.045741  2.067849 -0.542030  1.001121
2292 -0.491465  0.695733  0.558870  2.425841 -2.063765 -0.749773
2421  1.327643 -0.399514 -1.049769  2.961118 -0.159854  1.627427
2508 -0.622251 -1.221616  0.113662  2.549188  1.369382  3.835209
2529  2.011474 -1.100179 -0.686757  2.123197 -0.931289 -0.753648

Dataframes provide the `query` functionality for the same purpose. While it is less powerful than boolean indexing, it is often faster and shorter (when names are longer than just `u`)

In [16]:
u.query('D > 2')

             A         B         C         D         E         F
21   -0.720298  1.038092  1.619139  2.018143 -0.056179  1.379509
120  -0.067738 -1.020308 -2.266636  2.206936 -0.590255  0.186909
162  -1.912364 -0.853718  1.500830  2.664510 -0.699474  0.944029
177  -1.594947  0.066061  0.238336  2.669839 -0.535638  1.210290
315   0.828884 -0.269063  0.353555  2.456021  0.598594  0.337546
483   0.809037 -0.960082  0.741255  2.262807  0.373416 -1.027757
552   2.461966 -0.044535 -0.875278  2.104515  1.480918  0.948490
714   1.527885 -0.983501  0.232200  2.230415  0.470912  1.496632
753  -0.297296 -0.284134 -0.172245  2.049252  0.705034 -0.412757
783   0.136426  0.279603 -0.635129  2.764491  1.914615 -0.599495
837   0.556277  0.453778 -1.827988  2.845533  0.166032  0.984749
1125 -1.071312 -0.306151  0.956511  2.248414 -0.424718 -0.421275
1128  0.475451  0.050170  0.307816  2.677477  1.114584 -0.191102
1152 -1.275743  1.373875 -0.603583  2.285871 -0.060467 -0.090333
1212 -1.211129 -1.702471 -0.373522  2.268466 -0.101312  0.951670
1245 -0.176042  2.192218  0.305224  2.320242  0.373636  0.280979
1293  1.516336 -1.126098 -0.850407  2.203467 -0.620521  0.234165
1620 -0.038073  1.132019 -1.215821  2.334836  1.209565  0.643095
1629  0.226794  0.145952  0.257228  2.659495 -1.386864  0.068876
1710 -0.974339 -1.055722 -2.688432  2.007804  0.162883 -1.320170
1767 -0.347207  0.919672 -0.739654  2.382137  0.892301 -0.661035
1773 -0.348344  0.874031 -1.249621  2.234059 -0.228303  2.389187
2127 -1.416430 -0.067060 -0.064512  2.631854  1.541957 -0.993226
2223  0.323426  0.143031  1.045741  2.067849 -0.542030  1.001121
2292 -0.491465  0.695733  0.558870  2.425841 -2.063765 -0.749773
2421  1.327643 -0.399514 -1.049769  2.961118 -0.159854  1.627427
2508 -0.622251 -1.221616  0.113662  2.549188  1.369382  3.835209
2529  2.011474 -1.100179 -0.686757  2.123197 -0.931289 -0.753648

### Reshaping `DataFrame`

We can reshape and concatenate dataframes in a pretty similar way to numpy arrays.

In [17]:
df1 = pd.DataFrame()

df1['sample'] = ['A', 'A', 'A', 'B', 'B', 'B']
df1['replicate'] = ['01', '02', '03', '01', '02', '03']
df1['protein'] = 'P02768'
df1['value1'] = np.random.randn(6)

df1

  sample replicate protein    value1
0      A        01  P02768 -0.111505
1      A        02  P02768 -1.652959
2      A        03  P02768 -0.374804
3      B        01  P02768 -0.625137
4      B        02  P02768 -1.615382
5      B        03  P02768 -1.309753

In [18]:
pivot_df1 = df1.pivot(index='replicate', columns='sample', values='value1')

pivot_df1.head()

sample            A         B
replicate
01        -0.111505 -0.625137
02        -1.652959 -1.615382
03        -0.374804 -1.309753

### Computing With `DataFrames`

We can calculate with `DataFrames` or their columns (which are `Series`) the same way we would work with numpy arrays.

In [19]:
df1['value2'] = 1 / df1['value1']
df1.head()

  sample replicate protein    value1    value2
0      A        01  P02768 -0.111505 -8.968197
1      A        02  P02768 -1.652959 -0.604976
2      A        03  P02768 -0.374804 -2.668060
3      B        01  P02768 -0.625137 -1.599649
4      B        02  P02768 -1.615382 -0.619049

In [20]:
np.mean(df1)

replicate    1.700502e+09
value1      -9.482567e-01
value2      -2.537239e+00
dtype: float64

We can also apply functions to the whole dataset or specific columns with the `apply` command. `apply` acts on the whole column at a time (i.e. a Pandas `Series`), so we can compute things that depend on several values of the column, for instance, the mean value. To apply functions in a real element-by-element basis the function `applymap` or `Series.apply` should be used.

In [21]:
def mean(col):
    return sum(col) / len(col)

df1[['value1', 'value2']].apply(mean)

value1   -0.948257
value2   -2.537239
dtype: float64

While most can be directly calculated (including the given example of the mean), `apply` also works on columns with strings or categorical data, where no mathematical operations are defined. The limit is the imagination.

### Combining `DataFrames`

Something we will do quite often as scientists is combining data from different sources into one single source. This can be achieved by different commands in Pandas, depending on the actual goal we want.

To begin with, appending new rows of data is achieved by the command `append`.

In [22]:
df2 = pd.DataFrame()

df2['sample'] = ['A', 'A', 'A', 'B', 'B', 'B']
df2['replicate'] = ['01', '02', '03', '01', '02', '03']
df2['protein'] = 'P69892'
df2['value1'] = np.random.randn(6)
df2['value2'] = 1 / df2['value1']

df2

  sample replicate protein    value1     value2
0      A        01  P69892  0.323275   3.093342
1      A        02  P69892  2.438003   0.410172
2      A        03  P69892  0.017873  55.951425
3      B        01  P69892  1.695840   0.589678
4      B        02  P69892 -0.094675 -10.562401
5      B        03  P69892  0.557293   1.794387

In [23]:
df1.append(df2, ignore_index=True)

   sample replicate protein    value1     value2
0       A        01  P02768 -0.111505  -8.968197
1       A        02  P02768 -1.652959  -0.604976
2       A        03  P02768 -0.374804  -2.668060
3       B        01  P02768 -0.625137  -1.599649
4       B        02  P02768 -1.615382  -0.619049
5       B        03  P02768 -1.309753  -0.763503
6       A        01  P69892  0.323275   3.093342
7       A        02  P69892  2.438003   0.410172
8       A        03  P69892  0.017873  55.951425
9       B        01  P69892  1.695840   0.589678
10      B        02  P69892 -0.094675 -10.562401
11      B        03  P69892  0.557293   1.794387

The same result can be obtained with `concat`.

In [24]:
df = pd.concat([df1, df2], ignore_index=True)

df

   sample replicate protein    value1     value2
0       A        01  P02768 -0.111505  -8.968197
1       A        02  P02768 -1.652959  -0.604976
2       A        03  P02768 -0.374804  -2.668060
3       B        01  P02768 -0.625137  -1.599649
4       B        02  P02768 -1.615382  -0.619049
5       B        03  P02768 -1.309753  -0.763503
6       A        01  P69892  0.323275   3.093342
7       A        02  P69892  2.438003   0.410172
8       A        03  P69892  0.017873  55.951425
9       B        01  P69892  1.695840   0.589678
10      B        02  P69892 -0.094675 -10.562401
11      B        03  P69892  0.557293   1.794387

### Grouping Data

In [25]:
df.groupby('protein').agg(sum)

           value1     value2
protein
P02768  -5.689540 -15.223434
P69892   4.937608  51.276602

In [26]:
df.groupby(['protein', 'sample']).agg(sum)

                  value1     value2
protein sample
P02768  A      -2.139269 -12.241233
        B      -3.550272  -2.982201
P69892  A       2.779151  59.454939
        B       2.158458  -8.178336

In [27]:
df.groupby(['protein', 'sample', 'replicate']).agg(sum)

                            value1     value2
protein sample replicate
P02768  A      01        -0.111505  -8.968197
               02        -1.652959  -0.604976
               03        -0.374804  -2.668060
        B      01        -0.625137  -1.599649
               02        -1.615382  -0.619049
               03        -1.309753  -0.763503
P69892  A      01         0.323275   3.093342
               02         2.438003   0.410172
               03         0.017873  55.951425
        B      01         1.695840   0.589678
               02        -0.094675 -10.562401
               03         0.557293   1.794387

In [28]:
df.groupby('protein').transform(np.mean)

       replicate    value1    value2
0   1.700502e+09 -0.948257 -2.537239
1   1.700502e+09 -0.948257 -2.537239
2   1.700502e+09 -0.948257 -2.537239
3   1.700502e+09 -0.948257 -2.537239
4   1.700502e+09 -0.948257 -2.537239
5   1.700502e+09 -0.948257 -2.537239
6   1.700502e+09  0.822935  8.546100
7   1.700502e+09  0.822935  8.546100
8   1.700502e+09  0.822935  8.546100
9   1.700502e+09  0.822935  8.546100
10  1.700502e+09  0.822935  8.546100
11  1.700502e+09  0.822935  8.546100

In [29]:
df.groupby('protein')['value1', 'value2'].transform(np.mean)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

      value1    value2
0  -0.948257 -2.537239
1  -0.948257 -2.537239
2  -0.948257 -2.537239
3  -0.948257 -2.537239
4  -0.948257 -2.537239
5  -0.948257 -2.537239
6   0.822935  8.546100
7   0.822935  8.546100
8   0.822935  8.546100
9   0.822935  8.546100
10  0.822935  8.546100
11  0.822935  8.546100

In [30]:
for g, g_df in df.groupby(['protein', 'sample']):
    print(g_df)
    print(f"{g} --> mean value1: {np.mean(g_df['value1'])}")
    print(f"      mean value2: {np.mean(g_df['value2'])}\n")

  sample replicate protein    value1    value2
0      A        01  P02768 -0.111505 -8.968197
1      A        02  P02768 -1.652959 -0.604976
2      A        03  P02768 -0.374804 -2.668060
('P02768', 'A') --> mean value1: -0.7130895303284994
      mean value2: -4.080410960967531

  sample replicate protein    value1    value2
3      B        01  P02768 -0.625137 -1.599649
4      B        02  P02768 -1.615382 -0.619049
5      B        03  P02768 -1.309753 -0.763503
('P02768', 'B') --> mean value1: -1.1834239532522366
      mean value2: -0.9940669307487835

  sample replicate protein    value1     value2
6      A        01  P69892  0.323275   3.093342
7      A        02  P69892  2.438003   0.410172
8      A        03  P69892  0.017873  55.951425
('P69892', 'A') --> mean value1: 0.9263835112471502
      mean value2: 19.81831294865032

   sample replicate protein    value1     value2
9       B        01  P69892  1.695840   0.589678
10      B        02  P69892 -0.094675 -10.562401
11      B        03  P69892  0.557293   1.794387
('P69892', 'B') --> mean value1: 0.71948595201453
      mean value2: -2.726112159298767

In [31]:
df.groupby(['protein', 'sample']).describe()

               value1                      ...    value2
                count      mean       std  ...       50%        75%        max
protein sample                             ...
P02768  A         3.0 -0.713090  0.824529  ... -2.668060  -1.636518  -0.604976
        B         3.0 -1.183424  0.507066  ... -0.763503  -0.691276  -0.619049
P69892  A         3.0  0.926384  1.317977  ...  3.093342  29.522384  55.951425
        B         3.0  0.719486  0.906210  ...  0.589678   1.192032   1.794387

[4 rows x 16 columns]

In [32]:
df.pivot_table(index='protein',
               columns='sample', 
               aggfunc='mean')

           value1               value2
sample          A         B          A         B
protein
P02768  -0.713090 -1.183424  -4.080411 -0.994067
P69892   0.926384  0.719486  19.818313 -2.726112

In [33]:
df.pivot_table(index='protein',
               columns='sample',
               aggfunc={'value1': min,
                        'value2': max})

           value1               value2
sample          A         B          A         B
protein
P02768  -1.652959 -1.615382  -0.604976 -0.619049
P69892   0.017873 -0.094675  55.951425  1.794387

### Loading and saving dataframes

To load and save Pandas dataframes we will use the `to_csv` and `read_csv` commands. Whenever the dataframe does not contain any kind of column that is of type `object` we can also use feather format with `to_feather`. In case we have objects in the cells, such as functions, for example, we can use pickle format with `to_pickle`.

In [34]:
df.to_csv('test.csv')
pd.read_csv('test.csv', index_col=0)

   sample  replicate protein    value1     value2
0       A          1  P02768 -0.111505  -8.968197
1       A          2  P02768 -1.652959  -0.604976
2       A          3  P02768 -0.374804  -2.668060
3       B          1  P02768 -0.625137  -1.599649
4       B          2  P02768 -1.615382  -0.619049
5       B          3  P02768 -1.309753  -0.763503
6       A          1  P69892  0.323275   3.093342
7       A          2  P69892  2.438003   0.410172
8       A          3  P69892  0.017873  55.951425
9       B          1  P69892  1.695840   0.589678
10      B          2  P69892 -0.094675 -10.562401
11      B          3  P69892  0.557293   1.794387

But, as an addition, Pandas has special commands to load and save Excel spreadsheets (yay!). However, to use it you'll need the `openpyxl` and `xlrd` packages.

In [35]:
df.to_excel('test.xlsx', sheet_name='My sheet')
pd.read_excel('test.xlsx', 'My sheet', index_col=0)

   sample  replicate protein    value1     value2
0       A          1  P02768 -0.111505  -8.968197
1       A          2  P02768 -1.652959  -0.604976
2       A          3  P02768 -0.374804  -2.668060
3       B          1  P02768 -0.625137  -1.599649
4       B          2  P02768 -1.615382  -0.619049
5       B          3  P02768 -1.309753  -0.763503
6       A          1  P69892  0.323275   3.093342
7       A          2  P69892  2.438003   0.410172
8       A          3  P69892  0.017873  55.951425
9       B          1  P69892  1.695840   0.589678
10      B          2  P69892 -0.094675 -10.562401
11      B          3  P69892  0.557293   1.794387

**Exercise 5**: Download [this dataset](https://raw.githubusercontent.com/ChihChengLiang/pokemongor/master/data-raw/pokemons.csv) and load it, using the first column as the index. Take a look at it, and do the following things:
- Choose the columns 'Identifier', 'BaseStamina', 'BaseAttack', 'BaseDefense', 'Type1' and 'Type2' 
- Create a function that lowercases strings and apply it to 'Type1' and 'Type2' (*Extra: just capitalize the strings, i.e., leave the first letter uppercase and lowercase the rest*)
- Create a function that returns a Boolean value (don't be afraif by this, it is a function that returns either True or False) that tells if a Pokémon has high stamina (BaseStamina>170) or not. Store this information in a new column and show the list of Pokémon with high stamina
- Show the instructor the last 15 rows of your dataset

In [36]:
df = pd.read_csv('https://raw.githubusercontent.com/ChihChengLiang/pokemongor/master/data-raw/pokemons.csv', 
                 index_col=0)

df = df[['Identifier', 'BaseStamina', 'BaseAttack', 'BaseDefense', 'Type1', 'Type2']]

capitalize = lambda st: st.capitalize()

for col in ['Type1', 'Type2']:
    df[col] = df[col].apply(capitalize)
    
def highstamina(x):
    return True if x > 170 else False

df['HighStamina'] = df.BaseStamina.apply(highstamina)

print(df[df['HighStamina'] == True].Identifier)

df.tail(15)

PkMn
31      Nidoqueen
36       Clefable
39     Jigglypuff
40     Wigglytuff
59       Arcanine
62      Poliwrath
68        Machamp
79       Slowpoke
80        Slowbro
87        Dewgong
89            Muk
103     Exeggutor
108     Lickitung
112        Rhydon
113       Chansey
115    Kangaskhan
130      Gyarados
131        Lapras
134      Vaporeon
143       Snorlax
144      Articuno
145        Zapdos
146       Moltres
149     Dragonite
150        Mewtwo
151           Mew
Name: Identifier, dtype: object

      Identifier  BaseStamina  BaseAttack  ...     Type1   Type2 HighStamina
PkMn                                       ...
137      Porygon          130         156  ...    Normal    None       False
138      Omanyte           70         132  ...      Rock   Water       False
139      Omastar          140         180  ...      Rock   Water       False
140       Kabuto           60         148  ...      Rock   Water       False
141     Kabutops          120         190  ...      Rock   Water       False
142   Aerodactyl          160         182  ...      Rock  Flying       False
143      Snorlax          320         180  ...    Normal    None        True
144     Articuno          180         198  ...       Ice  Flying        True
145       Zapdos          180         232  ...  Electric  Flying        True
146      Moltres          180         242  ...      Fire  Flying        True
147      Dratini           82         128  ...    Dragon    None       False
148    Dragonair          122         170  ...    Dragon    None       False
149    Dragonite          182         250  ...    Dragon  Flying        True
150       Mewtwo          212         284  ...   Psychic    None        True
151          Mew          200         220  ...   Psychic    None        True

[15 rows x 7 columns]